
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Services</h1>

<!-- Boxes -->
    <section id="info" class="p-5">
        <div class="container">
            <div class="row text-center g-4">

                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-clipboard-data"></i>
                            </div>
                            <h3 class="card-title mb-3">Tax Planning</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis voluptas nulla nisi vero sunt.
                            </p>
                            <a href="#creature" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-cash-coin"></i>
                            </div>
                            <h3 class="card-title mb-3">Tax Preparation</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis voluptas nulla nisi vero sunt.
                            </p>
                            <a href="#concoction" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-briefcase"></i>
                            </div>
                            <h3 class="card-title mb-3">Portfolio Construction</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis voluptas nulla nisi vero sunt.
                            </p>
                            <a href="#terror" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-boxes"></i>
                            </div>
                            <h3 class="card-title mb-3">Combination of Services</h3>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis voluptas nulla nisi vero sunt.
                            </p>
                            <a href="#book" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Category Sections -->
    <section id="creature" class="p-5 bg-secondary text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="~/images/Black-Dragon.jpg" class="img-fluid" alt="">
                    
                </div>
                <div class="col-md p-5">
                    <h2>Tax Planning</h2>
                    <p class="lead">
                        Any manner of beast that yet lives in this universe.
                    </p>
                    <p>
                        We boast a fine variety of creatures, make sure to check in regularly for new finds.
                    </p>
                    <a href="#info" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Return</a>
                </div>
            </div>
        </div>
    </section>

    <section id="concoction" class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                
                <div class="col-md p-5">
                    <h2>Tax Preparation</h2>
                    <p class="lead">
                        An assortment of brewed potions with various effects.
                    </p>
                    <p>
                        Brewed with the blood, sweat, and tears of our local witches.
                    </p>
                    <a href="#info" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Return</a>
                </div>
                <div class="col-md">
                    <img src="~/images/bottles-magic-potions-set-3446909.jpg" class="img-fluid" alt="">
                    
                </div>
            </div>
        </div>
    </section>
    
    <section id="terror" class="p-5 bg-secondary text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="~/images/grimReaper.jpg" class="img-fluid" alt="">
                    
                </div>
                <div class="col-md p-5">
                    <h2>Portfolio Contruction</h2>
                    <p class="lead">
                        Manifestation of tangible or existential horror.
                    </p>
                    <p>
                        Famed scholar Roberta Sparrow once claimed, "every living creature on Earth dies alone"
                    </p>
                    <a href="#info" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Return</a>
                </div>
            </div>
        </div>
    </section>

    <section id="book" class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                
                <div class="col-md p-5">
                    <h2>Combination of Services</h2>
                    <p class="lead">
                        Flattened tree flesh pulp with ink.
                    </p>
                    <p>
                        The key to unlocking entire universes within your mind in your very hands.
                    </p>
                    <a href="#info" class="btn btn-light mt-3"><i class="bi bi-chevron-right"></i>Return</a>
                </div>
                <div class="col-md">
                    <img src="~/images/book.jpg" class="img-fluid" alt="">
                    
                </div>
            </div>
        </div>
    </section>